body {
    width: 360px; /* задал ширину макета */
    margin: 0 auto; /* через auto отцентрировал */
    font-family: Inter, sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
address {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.content-section_theme_dark {
    color: #f5f5f5;
    background-color: #131313;
}

.content-section_theme_bright {
    color: #131313;
    background-color: #fee42a;
}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 78.453px;
    height: 15.432px;
}

.header__logo-image {
    width: 100%;
}

.header__menu {
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 12px;
}

.header__menu-item {
    font-size: 16px;
    font-style: normal;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}

.header__menu-link {
    text-underline-offset: 3px;
}

.cover {
    min-height: 100px;
    background-image: url(../images/cover.svg);
    background-size: 95% auto;
    background-position: right center;
    background-repeat: no-repeat;
}

.cover__title {
    padding: 7px 24px 5px 20px;
    font-family: EB Garamond, serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}

.intro {
    padding: 30px 20px 37px 20px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    font-size: 16px;
    color: #ccc;
}

.intro__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__date {
    white-space: nowrap; /* чтобы дата не переносилась никогда на новую строку (тоже самое для имейлов и телефонов) */
}

.intro__main-text {
    display: flex;
    flex-direction: column;
    /* задали отступ между заголовком и текстом и параграфами */
    gap: 24px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 21.6px;
}

.reasons {
    padding: 40px 20px 40px 20px;
}

.content-section__subtitle {
    font-family: EB Garamond;
    font-size: 28px;
    font-weight: 500;
    line-height: 115%; /* 32.2px */
}

.content-section__introduction {
    padding: 32px 0 32px 0;
    font-size: 20px;
    line-height: 27px; /* 135% */
}

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 0 16px;
}

.content-section__list-item {
    font-size: 16px;
    font-style: normal;
    line-height: 21.6px; /* 135% */
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    padding: 40px 20px 60px 20px;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style-type: none;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 30px;
}

.card_theme_dark {
    background-color: #343434;
    color: #f5f5f5;
}

.card_theme_bright {
    background-color: #fee42a;
    color: #131313;
}

.card__author {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    color: #f5f5f5;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 21.6px */
}

.card__title {
    font-family: EB Garamond;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
    margin-bottom: 8px;
}

.card__text {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copy {
    color: #f5f5f5;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
}

.list-link {
    text-decoration: none;
}
